@import "tailwindcss";
@custom-variant dark (@media (prefers-color-scheme: dark));

html,
body {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

.leaflet-interactive {
	transition:
		stroke-width 0.15s ease,
		fill-opacity 0.15s ease;
	outline: none;
}

.leaflet-interactive:hover {
	stroke-width: 3;
	fill-opacity: 0.9;
}
